
body{
    margin:0;
    overflow-x: hidden;
}

.menu_ul{
    float:right;/*Make the menu appear on the right of the website*/
    list-style-type:none;
    padding:17px;
    overflow: hidden;/*prevents the menu from being scrollable if the text overflows*/
    position:relative;
    right:25px;/*fixes the navigation bar to the right of the webpage when scrolling*/
    width: 420px;/*size of menu relative to webpage width*/
}

.menu_ul li{
    float:right;/*Make the menu appear on the right of the website*/
    border-right:1px solid #bbb;/*Add link dividers as borders*/
    border-left:1px solid #bbb;/*Add link dividers as borders*/
}
.menu_ul li:last-child{
    border-right: none;
}
.menu_ul li:first-child{
    border-left: none;
}
.menu_ul li a {
   display: block;
   color:white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}
/*Change the menu link color on hover*/
.menu_ul li a:hover:not(.active){
    background-color: #111;

}
.active{
    background-color: #04aa6d;
}
h1{
    margin:0;
}
.socialmedia_facebook{
    position: fixed;
    bottom: 0;
    right: 0;
}
.socialmedia_twitter{
    position: fixed;
    bottom: 0;
    right: 120px;
}

.container{
    position: relative;
    text-align: center;
    color: white;
}

.menubar{
    position: absolute;
    top: -9px;
    right: 10px;
}

.about_us_container{
    position: absolute;
    left:32%;
    transform:translate(11%,4%);
    font-size: 20px;
}

.meet_staff_button:hover{
    background-color: #111;
}
.meet_staff_button{
    background-color: aqua;
    color: white;
}
/*Dropdown FAQ animations*/
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.faq_ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 1102px;

    left: 24%;
    top: 10px;
    font-size: 30px;
  }

.faq_ul li{
    border-bottom: 1px solid #555;
}
.faq_ul li p {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    width: 1102px;

  }
  
  /* Change the link color on hover */
.faq_ul li:hover {
    background-color: #555;
    color: white;
  }

.faq_home_text{
    position: fixed; top: 50%; left: -1%; font-size: 30px; color: azure; text-decoration: none; padding: 50px;
}
.faq_home_questions{
    position: fixed; top: 55%; left: -1%; font-size: 30px; color: azure; text-decoration: none; padding: 50px;
}
.logo {
    margin: 3px;
}

.logo_mini{
    margin: 3px;
}
.banner{
    width:111%; height:200px;
}
#dadwithbuilding{
    position:absolute; bottom: 21%; right: 108%; width: 500px;
}
#dad_picture{
    position: absolute; top:10px; left: 1200px; width:300px; height:300px;
}
.dad_desc{
    display: none; position: relative; top: 210px;left: 550px; width: 580px;
}
#collegue_picture1{
    position: absolute; top: 902px; left: 1200px; width:300px; height:300px
}
.collegue_desc1{
    display: none; position:relative; top: 584px; left: 550px; width: 600px;
}
.staff_page_div1{
    position: relative; 
}
.staff_page_div2{
    position:relative; top: -530px; 
}


@media only screen and (max-width: 1600px) {
    .staff_page_div1{
        left:-337px;
        position: relative;
    }
    .staff_page_div2{
        left: -337px;
        position: relative;
        top: -530px;
    }
    #dad_picture{
        left: 860px;
        width: 200px;
        height: 200px;
    }
    .dad_desc{
        top: 269px;
        left: 50px;
        width: 580px;
        position: relative;
    }
    #collegue_picture1{
        left: 860px;
        width: 200px;
        height: 200px;
    }
    .collegue_desc1{
        left: 50px;
        width: 340px;
    }
}

@media only screen and (max-width: 800px) {
    .staff_page_div1{
        left:-341px;
        position: relative;
    }
    .staff_page_div2{
        left: -341px;
        position: relative;
        top: -530px;
    }
    #dad_picture{
        left: 808px;
        width: 200px;
        height: 200px;
    }
    .dad_desc{
        top: 210px;
        left: 178px;
        width: 580px;
        position: relative;
    }
    #staff_desc2{
        left: 44px;
        width: 600px;
        position: relative;
        top: 584px;
    }
    #collegue_picture1{
        left: 808px;
        width: 200px;
        height: 200px;
    }
}
/*Responsive Web design - Media Queries, source: https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/
@media only screen and (max-width: 600px) {
    body {
        font-size: 10px;
    }
    head {
        font-size: 10px;
    }
    .faq_home_text{
        font-size: 10px;
    }
    .faq_home_questions{
        font-size: 10px;
    }
    .logo{
        margin: 3px; position: absolute;
        top: 0px;
    }
    .logo_mini{
        margin: 3px; position: absolute;
        top: 25px;
    }
    .about_us_container{
        font-size: 10px;
        left: 0%;
    }
    #dadwithbuilding{
        width: 312px;
        bottom:-86%;
        right: 17%;
    }
    .staff_page_div1{
        left:-458px;
        position: relative;
    }
    #dad_picture{
        left: 782px;
        width: 200px;
        height: 200px;
    }
    .dad_desc{
        top: 225px;
        left: 63px;
    }
    .staff_page_div2{
        left: -458px;
        position: relative;
        top: -530px;
    }
    #collegue_picture1{
        left: 782px;
        width: 200px;
        height: 200px;
    }
    .collegue_desc1{
        left: 63px;
        width: 340px;
    }
    .faq_ul{
        font-size: 10px;
        width: 368px;
    }
    .dropdown-content{
        width:340px;
    }
    .faq_ul li p{
        width: 300px;
    }
    .mapouter{
        position:absolute;text-align:center;height:400px;width:max-content; margin: 0;
    }
  }
