
body{
    margin:0;
    overflow-x: hidden;
}
.menu_ul{
    float:right;/*Make the menu appear on the right of the website*/
    list-style-type:none;
    padding:17px;
    overflow: hidden;/*prevents the menu from being scrollable if the text overflows*/
    position:relative;
    right:25px;/*fixes the navigation bar to the right of the webpage when scrolling*/
    width: 420px;/*size of menu relative to webpage width*/
}

.menu_ul li{
    float:right;/*Make the menu appear on the right of the website*/
    border-right:1px solid #bbb;/*Add link dividers as borders*/
    border-left:1px solid #bbb;/*Add link dividers as borders*/
}
.menu_ul li:last-child{
    border-right: none;
}
.menu_ul li:first-child{
    border-left: none;
}
.menu_ul li a {
   display: block;
   color:white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}
/*Change the menu link color on hover*/
.menu_ul li a:hover:not(.active){
    background-color: #111;

}
.active{
    background-color: #04aa6d;
}
h1{
    margin:0;
}
.socialmedia_facebook{
    position: fixed;
    bottom: 0;
    right: 0;
}
.socialmedia_twitter{
    position: fixed;
    bottom: 0;
    right: 120px;
}

.container{
    position: relative;
    text-align: center;
    color: white;
}

.menubar{
    position: absolute;
    top: -9px;
    right: 10px;
}

.about_us_container{
    position: absolute;
    text-align: left;
    left:32%;
    transform:translate(-50,-50);
}

.meet_staff_button:hover{
    background-color: #111;
}
.meet_staff_button{
    background-color: aqua;
    color: white;
}
/*Dropdown FAQ animations*/
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.faq_ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 590px;
    background-color: #f1f1f1;
    

    left: 37%;
    top: 10px;
  }

.faq_ul li{
    border-bottom: 1px solid #555;
}
.faq_ul li p {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    width: 590px;

  }
  
  /* Change the link color on hover */
.faq_ul li:hover {
    background-color: #555;
    color: white;
  }